matrix: 
  include: 
    - language: ruby
      dist: trusty
      install: 
        - gem install travis
      script:
        - travis encrypt 2eb91a4f56560e193b9d738eaeed5ad88f960031
      addons:
        sonarcloud:
          organization: "shenxianpeng"
          token:
            secure: a38d39b377d89ea83ac464713dcb915bd33ade0a # encrypted value of your token
      script:
        # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
        - sonar-scanner -Dproject.settings=sonar-project.properties

    - language: node_js
      sudo: false
      node_js:
        - "8"
      cache:
        apt: true
        directories:
          - node_modules
      before_script:
        - npm install
        - npm install -g hexo-cli
        - npm install hexo-deployer-git --save
      script: 
        - hexo generate
        - hexo server > /dev/null 2>&1 &
        - sleep 20 && curl http://localhost:4000/

notifications:
  email:
    - xianpeng.shen@qq.com   


  




