<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>   
      <class name="com.verify.dqa88.VerifyDataPageDisplay"/>
      <class name="com.verify.dqa92.VerifyAddSumQuery"/>
      <class name="com.verify.dqa87.VerifyRocketRLink"/>
      <class name="com.verify.dqa90.VerifyQueryAddFilterQuantity"/>
      <class name="com.verify.dqa87.VerifyCorVuNG"/>
      <class name="com.verify.dqa92.VerifyAddCubeToTM1"/>
      <class name="com.verify.dqa107.VerifySharingTabShowing"/>
      <class name="com.verify.dqa88.VerifyDataPageSort"/>
      <class name="com.verify.dqa91.VerifyAddJoinQuery"/>
      <class name="com.verify.dqa91.VerifyAddAppendQuery"/>
      <class name="com.verify.dqa87.VerifyTeradata"/>
      <class name="com.verify.dqa112.VerifyDeletedItemsShowing"/>
      <class name="com.verify.dqa88.VerifyDataPageShowOnly"/>
      <class name="com.verify.dqa112.VerifyDeletedItemsRestore"/>
      <class name="com.verify.dqa86.VerifyIMBPureDataSystemforAnalytics"/>
      <class name="com.verify.dqa107.VerifySharingTabSort"/>
      <class name="com.verify.dqa112.VerifyDeletedItemsDeletePermanently"/>
      <class name="com.verify.dqa78.VerifyUploadCSVFile"/>
      <class name="com.verify.dqa86.VerifyIBMQMF"/>
      <class name="com.verify.dqa86.VerifySQLServer"/>
      <class name="com.verify.dqa86.VerifyIBMDB2"/>
      <class name="com.verify.dqa90.VerifyQueryAddFilterOrderDate"/>
      <class name="com.verify.dqa86.VerifyIBMCognosBI"/>
      <class name="com.verify.dqa88.VerifyDataPageShowing"/>
      <class name="com.verify.dqa107.VerifySharingTabDisplayUpdateTime"/>
      <class name="com.verify.dqa87.VerifyRocketDataVirtulization"/>
      <class name="com.verify.dqa87.VerifyRocketUniData"/>
      <class name="com.verify.dqa92.VerifyAddPivotQuery"/>
      <class name="com.verify.dqa87.VerifyRocketUniVerse"/>
      <class name="com.verify.dqa86.VerifyIBMDB2iSeries"/>
      <class name="com.verify.dqa78.VerifyUploadTABFile"/>
      <class name="com.verify.dqa86.VerifyIBMCognosTM1"/>
      <class name="com.verify.dqa78.VerifyUploadInvalidFile"/>
      <class name="com.verify.dqa78.VerifyUploadTXTFile"/>
      <class name="com.verify.dqa87.VerifyMySQL"/>
      <class name="com.verify.dqa88.VerifyDataPageShowMore"/>
      <class name="com.verify.dqa78.VerifyUploadExcelFile"/>
      <class name="com.verify.dqa112.VerifyDeletedItemsShowOnly"/>
      <class name="com.verify.dqa88.VerifyDataPageSearch"/>
      <class name="com.verify.dqa112.VerifyDeletedItemsSearch"/>
      <class name="com.verify.dqa107.VerifySharingTabFilesAction"/>
      <class name="com.verify.dqa87.VerifyDirectLink"/>
      <class name="com.verify.dqa90.VerifyQueryAddFilterCountry"/>
      <class name="com.verify.dqa78.VerifyUploadLargeCSVFile"/>
      <class name="com.verify.dqa78.VerifyUploadSQYFile"/>
      <class name="com.verify.dqa87.VerifyOracleServer"/>
      <class name="com.verify.dqa88.VerifyDataPageViewDeleteSource"/>
      <class name="com.verify.dqa88.VerifyDataPageViewDeleteCopyQuery"/>
      <class name="com.verify.dqa107.VerifySharingTabSearch"/>
      <class name="com.verify.dqa86.VerifyIBMDB2LUW"/>
      <class name="com.verify.dqa87.VerifyRocketD3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
