# This is a basic workflow to help you get started with Actions

name: build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: master
  pull_request:
    branches: master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Clone code 
      uses: actions/checkout@v2
      with: 
        fetch-depth: 0
        
    - name: Super-Linter
      uses: github/super-linter@v2.2.0
  
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v1.3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        # Set the sonar.projectBaseDir analysis property
        projectBaseDir: .

    - name: Setup Node 12 
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
  
    - name: Run Test
      run: |
        npm install
        npm install -g hexo-cli
        hexo generate
        hexo server > /dev/null 2>&1 &
        sleep 20 && curl -Is http://localhost:4000/ | head -n 1
